.App {
  text-align: center;
  background: #e0e0e0;
  padding: 4px;
}

.ItemContainer {
  display: grid;
  grid-template-columns: repeat(2, 240px);
  gap: 30px;
  width: fit-content;
  margin: 20px auto;
}
