.App {
  text-align: center;
  background: #e0e0e0;
  padding: 4px;
  min-height: 100vh;
}

.Content {
  margin-bottom: 80px;
}

.ItemContainer {
  display: grid;
  grid-template-columns: repeat(2, 240px);
  gap: 30px;
  width: fit-content;
  margin: 20px auto;
}

.shadow {
  background: #e0e0e0;
  box-shadow:  10px 10px 20px #cacaca,
              -10px -10px 20px #f6f6f6;
}

h3 {
  margin: 10px auto;
}