.BalancesContainer {
  width: 510px;
  border-radius: 20px;
  margin: 20px auto 30px auto;
  padding: 4px;
  position: relative;
}

.BalanceContent {
  margin-bottom: 44px;
}

.BalanceContent:hover {
  margin-bottom: 10px;
}

.Balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.Balance p {
  margin: 4px auto;
}

.BalanceAdd {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.BalanceAdd .button {
  font-size: 20px;
}
