.BalancesContainer {
  width: 510px;
  border-radius: 20px;
  margin: 20px auto 30px auto;
  padding: 4px;
  position: relative;
}

.BalanceContent {
  margin-bottom: 20px;
}

.Balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555;
  min-height: 40px;
}

.Balance p {
  margin: 4px auto;
  text-transform: uppercase;
  text-align: justify;
  min-width: fit-content;
}

.Balance span {
  font-weight: 500;
}

.BalanceInfo {
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Balance hr {
  width: 100%;
  height: 1px;
  margin: auto 10px;
}

.BalanceAdd {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.BalanceAdd .button {
  font-size: 20px;
}
