.ButtonGroup {
  display: none;
  justify-content: space-evenly;
}

.Item:hover .ButtonGroup, .Balance:hover .ButtonGroup {
  display: flex;
}

.Balance .ButtonGroup {
  width: 160px;
}

.button {
  font-size: 14px;
  text-transform: uppercase;
  background-color: #e0e0e0;
  border: 1px solid #bbb;
  color: #565656;
  border-radius: 4px;
  padding: 0 10px;
  height: 34px;
  min-width: 34px;
}

.button:hover {
  background-color: rgba(200, 200, 200, 0.5);
}
