.ButtonGroup {
  display: none;
  justify-content: space-evenly;
}

.Item:hover .ButtonGroup {
  display: flex;
}

.button {
  font-size: 14px;
  text-transform: uppercase;
  background-color: #e0e0e0;
  border: 1px solid #aaa;
  color: #565656;
  border-radius: 4px;
  padding: 5px 10px;
}

.button:hover {
  background-color: rgba(200, 200, 200, 0.5);
}
