.dark {
  background: #292929;
  color: #e0e0e0;
}

.dark .shadow {
  box-shadow:  10px 10px 20px #212121,
             -10px -10px 20px #313131;
}

.dark .ItemInfo, .dark .Balance {
  color: #bbb;
}

.dark .ItemAdd {
  color: #888;
  text-shadow: #313131 1px 1px 2px;
}

.dark .ItemAdd:hover {
  background: linear-gradient(145deg, #252525, #2c2c2c);
}

.dark .button {
  border: none;
  color: #888;
  background: #292929;
  box-shadow:  3px 3px 6px #212121,
                -3px -3px 6px #313131;
  text-shadow: #313131 1px 1px 2px;
}

.dark .button:hover {
  background: linear-gradient(145deg, #252525, #2c2c2c);
  box-shadow:  3px 3px 6px #212121,
              -3px -3px 6px #313131;
}

.dark label {
  color: #888;
}

.dark hr {
  border: none;
  border-bottom: solid 2px #333;
}

.dark input {
  background-color: #292929;
  border: 1px solid #555;
  color: #bbb;
}

.dark select {
  background-color: #292929;
  border:  1px solid #555;
  color: #bbb;
}

.dark form .submit {
  background-color: #292929;
  border:  1px solid #555;
  color: #bbb;
}

.dark form .submit:hover {
  background-color: rgba(80, 80, 80, 0.5);
}

.dark input[type=number]::-webkit-inner-spin-button {
  filter: invert(0.88)
}
