.Form {
  width: 510px;
  border-radius: 20px;
  margin: 20px auto 30px auto;
}
.Form h3 {
  padding-top: 28px;
}

.Form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 28px;
}

.Form div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 12px;
  text-align: left;
}

.Form form label {
  width: 140px;
  text-transform: uppercase;
}

.Form form input {
  width: 160px;
  padding: 4px;
}

.Form form select {
  width: 172px;
  padding: 4px;
}

.Form form .submit {
  width: 312px;
  padding: 6px;
  margin: 12px;
}
