form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

form div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
  text-align: left;
  height: 28px;
}

form label {
  width: 80px;
  font-size: 13px;
  text-transform: uppercase;
  color: #555;
}

form input {
  width: 90px;
  padding: 5px;
  background-color: #e0e0e0;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #555;
}

form select {
  padding: 5px 6px;
  background-color: #e0e0e0;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #555;
}

form .submit {
  width: 100px;
  height: 30px;
  margin: 8px;
  font-weight: bold;
  background-color: #e0e0e0;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
}

form .submit:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.Form {
  width: 510px;
  border-radius: 20px;
  margin: 20px auto 30px auto;
}
.Form h3 {
  padding-top: 28px;
}

.Form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 28px;
}

.Form div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 12px;
  text-align: left;
}

.Form form label {
  width: 140px;
  text-transform: uppercase;
  color: #555;
}

.Form form input {
  width: 160px;
  height: 30px;
  padding: 5px 10px;
  background-color: #e0e0e0;
  border: 1px solid #bbb;
  border-radius: 4px;
}

.Form form select {
  width: 182px;
  height: 38px;
  padding: 5px 6px;
  background-color: #e0e0e0;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #555;
}

.Form form .submit {
  width: 322px;
  height: 40px;
  margin: 18px;
  font-weight: bold;
  background-color: #e0e0e0;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
}

.Form .PriorityToggle {
  margin: 0;
}

.Form .PriorityToggle span {
  width: 22px;
}

input[type=number]::-webkit-inner-spin-button {
  filter: contrast(0.84);
  height: 28px;
}

.EditItem .PriorityToggle {
  margin: 0;
}

.PriorityToggleButton {
  height: 28px;
  width: 26px;
}

.BalancesContainer form {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.BalancesContainer form div {
  flex-direction: column;
  height: 100%;
}

.BalancesContainer form .submit {
  height: 46px;
  margin: 0 8px;
}

.BalancesContainer label {
  width: fit-content;
}
