.Form {
  width: 510px;
  border-radius: 20px;
  margin: 20px auto 30px auto;
}
.Form h3 {
  padding-top: 28px;
}

.Form form {
  padding-bottom: 28px;
}

.Form div {
  margin: 12px;
}

.Form form label {
  width: 140px;
}

.Form form input {
  width: 160px;
  height: 30px;
  padding: 5px 10px;
}

.Form form select {
  width: 182px;
  height: 38px;
}

.Form form .submit {
  width: 322px;
  height: 40px;
  margin: 18px;
}

.Form .PriorityToggle {
  margin: 0;
}

.Form .PriorityToggle span {
  width: 22px;
}
