.Item {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  overflow: hidden;
}

.ItemContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.ItemInfo {
  text-align: left;
  font-size: 13px;
  color: #555;
}

.ItemAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  font-size: x-large;
  color: #555;
}

.ItemAdd:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.Item a {
  text-decoration: none;
}

.Item span {
  font-weight: 500;
}
